# Ignorar arquivos de ambiente
.env

# Ignorar diretórios de módulos de pacotes
node_modules/

# Ignorar arquivos de lock de pacotes gerados automaticamente
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignorar arquivos de build e saída de compilação
dist/
build/
*.log

# Ignorar arquivos de configuração de IDEs e editores
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignorar arquivos de sistema operacional
.DS_Store
Thumbs.db

# Ignorar arquivos de cache do Vite
.vite/

# Ignorar arquivos de cache do ESLint
.eslintcache

# Ignorar arquivos binários (se houver)
*.bin